.woocommerce #content,.woocommerce {
    
    div.product{

        .magazine-7-product-summary-wrap, .woocommerce-tabs .tabs, .wc-tab {
            background: #00000000;
            border: none;
        }

        div.images{
            width: 100%;  
            float: none;  
        }
        div.summary {
            width: 100%;
            
            h1.product_title {
                font-family: 'EB Garamond', serif;
                font-weight: lighter;
                font-size: 2.5em;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            p.price, span.price, .stock{
                color: black;
            }
            p.price, .o_estandarte_cart{
                width: 49.5%;
                display: inline-block;
                vertical-align: top;
            }
            .stock.in-stock,form.cart{
                margin-bottom: 0;
            }
            .stock.in-stock{
                float: left;
            }
            form.cart{
                float: right;
            }
            .price{
                font-size: 2em;
            }
            
        }
    } 
}

.full-product-page #primary{
    width: 100%;
}

.o_estandarte_product_img, 
.o_estandarte_product_under_img{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.o_estandarte_product_info, 
.o_estandarte_product_under_info{
    width: 67.5%;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.woocommerce table.shop_attributes th {
    width: 100px;
}
.product-template-default, .single, .single-product{
    ul.products li.product{
        width: 13.9%;
    }
    .img-box {
        min-height: 232px;
    }

    @media (max-width: 1200px){ ul.products li.product div.img-box { min-height: 19vw; height: inherit;} }
    @media (max-width: 992px){  ul.products li.product div.img-box { 
        min-height: 232px; height: inherit;
    } 
        ul.products li.product{
            width: 19.9%;
        }
        .product:nth-child(6), .product:nth-child(7){
            display: none;
        }
    }
    @media (max-width: 768px){  
        ul.products[class*=columns-] li.product{
            width: 24.9%;
            &:nth-child(5){
                display: none;
            }
        }
        .img-box { min-height: 232px; height: inherit;} 
    }

    @media (min-width: 1200px){ .site-content { width: 1200px; }}
    @media (min-width: 992px){  .site-content { width: 100%; }}
    @media (min-width: 768px){  .site-content { width: 100%; }}
}

@media (min-width: 700px){  
    .o_estandarte_product_info .aditional_inf{
        display: none;
    }
}
@media (max-width: 700px){  
    .o_estandarte_product_img { 
        width: 100%; 
        padding: 0 20%;
    }
    .o_estandarte_product_img{
        .shop_attributes, h2{
            display: none;
        }
    }
    .o_estandarte_product_info{
        width: 100%;
        .product_title{
            margin-bottom: 1em !important;
        }
    }
}
