.spotlight-post, .single-column-posts, #secondary .widget, article .entry-content-wrap, article .comments-area, article .em-posts-promotions .widget {
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(0, 1, 1, 0.1);
    border: none;
    border-radius: 0;
    margin: 0px 0px 20px 0px;
    position: relative;
}

h2.widget-title, h1.page-title, h1.entry-title, h2.section-title{
        font-family: 'Merriweather', serif;
}
body h1, body h2, body h2 span, body h3, body h4, body h5, body h6{
    font-family: 'Merriweather', serif;
}
.hentry .header-details-wrapper{
    background: rgba(0, 1, 1, 0);
}
.spotlight-post {
    width: 100%;
    margin-bottom: 0; 
}

span.item-metadata.posts-date {
    margin-left: 3px;
}
.item-metadata.posts-author{
    margin-right: 10px;
}