#estandarte-home-section{
   & > li{
    list-style: none;
    }
    
    .widget.magazine_7_double_col_categorised_posts{
        .row{
            display: flex;
            flex-wrap: wrap;
            div[class*="col-"], li[class*="col-"], article[class*="col-"], figure[class*="col-"]{
                width: 49%;
            }
        }
    }
}

@media (max-width: 1150px) {
    body .af-main-banner .slider-figcaption .title-heading .slide-title {
        font-size: 17px;
    }
}


body .af-main-banner .slider-figcaption .slide-title {
    font-size: 26px;
    margin: 0;
}
.slider-figcaption {
    padding: 20px 10px;
}