#estandarte-home-section{
   & > li{
    list-style: none;
        &:first-child{
            margin-top: 10px
        }
    }
    
    .widget.magazine_7_double_col_categorised_posts{
        .row{
            display: flex;
            flex-wrap: wrap;
            div[class*="col-"], li[class*="col-"], article[class*="col-"], figure[class*="col-"]{
                width: 49%;
            }
        }
    }
}

@media (max-width: 1150px) {
    body .af-main-banner .slider-figcaption .title-heading .slide-title {
        font-size: 17px;
    }
}


body .af-main-banner .slider-figcaption .slide-title {
    font-size: 26px;
    margin: 0;
}
.slider-figcaption {
    padding: 20px 10px;
}

.oec_especial_post{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 10px;

    @media (max-width: 800px){
        .oec_col_1,.oec_col_2,.oec_col_3,.oec_col_4,.oec_col_5,.oec_col_6{
            width: 24.9%;
        }
        .data-bg.data-bg-hover {
            height: 150px;
        }
    }
    @media (max-width: 650px){
        .oec_col_1,.oec_col_2,.oec_col_3,.oec_col_4,.oec_col_5,.oec_col_6{
            width: 32.9%;
        }
        .data-bg.data-bg-hover {
            height: 170px;
        }
    }
    @media (max-width: 500px){
        .oec_col_1,.oec_col_2,.oec_col_3,.oec_col_4,.oec_col_5,.oec_col_6{
            width: 49.9%;
        }
        .data-bg.data-bg-hover {
            height: 170px;
        }
    }
    @media (max-width: 320px){
        .oec_col_1,.oec_col_2,.oec_col_3,.oec_col_4,.oec_col_5,.oec_col_6{
            width: 100%;
        }
    }
}
.oec_col_1{
    width: 100%;
}
.oec_col_2{
    width: 49.9%;
}
.oec_col_3{
    width: 33.2%;
}
.oec_col_4{
    width: 24.9%;
    .data-bg.data-bg-hover {
        height: 200px;
    }
}
.oec_col_5{
    width: 19.9%;
}
.oec_col_6{
    width: 16.5%;
}